[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="<MYSQL-SERVER-IPADDRESS>"
ExecStart=/bin/bash /app/run.sh
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target